<p>game works!</p>

<p *ngIf="tick$ | async as tick">the tick is: <strong>{{ tick | date: 'dd.MM.YYYY hh:mm:ss:SSS' }}</strong></p>

<p *ngIf="worldTime">the world time is: {{ worldTime | date: 'dd.MM.YYYY hh:mm:ss' }}</p>

<p *ngIf="player?.location as location">
    current location is <span style="color: red">{{ location.location }}</span>
</p>

<div>
    <button (click)="onSave()">SAVE</button>
</div>

<button (click)="onNextTurn('A')">Goto A</button>
<button (click)="onNextTurn('B')">Goto B</button>
<button (click)="onNextTurn('C')">Goto C</button>
<button (click)="onNextTurn('D')">Goto D</button>
