<p>game works!</p>

<p *ngIf="tick$ | async as tick">the tick is: <strong>{{ tick | date: 'dd.MM.YYYY hh:mm:ss:SSS' }}</strong></p>

<p *ngIf="worldTime">the world time is: {{ worldTime | date: 'dd.MM.YYYY hh:mm:ss' }}</p>

<p *ngIf="player?.location as location">
    current location is <span style="color: red">{{ location.location }}</span>
</p>

<!--<button (click)="onNextTurn()">next tick</button>-->

<button (click)="onNextTurn({ location: 'A', rootLocation: null })">Goto A</button>
<button (click)="onNextTurn({ location: 'B', rootLocation: null })">Goto B</button>
<button (click)="onNextTurn({ location: 'C', rootLocation: null })">Goto C</button>
<button (click)="onNextTurn({ location: 'D', rootLocation: null })">Goto D</button>
