.main-menu {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    &_button {
        max-width: 50%;
        width: 16rem;
    }
}
